body{
    background-color: #f1f0f0 !important;
    font-family: 'Source Sans Pro',sans-serif;
}

img{
    vertical-align: initial !important;
}

.listas{
    padding-bottom: 25px;
    font-family: "PT Sans", sans-serif;
    display:  flex;
    width: 1050px;
    /* max-width: 400px; */
    /* text-align:  center; */
    background-color: #fafafa;
    flex-wrap: wrap;
    margin:  auto;
    /* padding: 5px; */
    /* border-radius: 5px; */
    /* list-style: none; */
    /* border: 1px solid #a7a7a7; */
    /* display: inline-block; */
    /* box-shadow: 2px 3px 2px 0px #00000021; */
}

.titulo{
    color: #1b1e21;
    text-decoration: none;
    text-transform: initial;
    text-shadow: 1px 0px 1px black;
}

.listas .folder{
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-top: 16px;
    padding: 13px;
    display: flex;
    align-items: center;
    width: 483px;
    background-color: #ffffffa1;
    box-sizing: border-box;
    color: #000;
    margin-left: 15px;
}

.listas .cantidad{
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.68));
    background-image: linear-gradient(rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.68));
    position: absolute;
    bottom: 4px;
    /* left: 28px; */
    height: 40px;
    width: 175px;
    /* float: left; */
    padding: 10px;
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 1); */
    /* background-color: transparent; */
    /* background-repeat: repeat-x; */
    color: #fff;
    text-align: center;
}

.listas .imagen{
    position:  relative;
    height: 278px;
    line-height: 0;
    overflow: hidden;
    width: 185px;
}

.listas .imagen a{
    width: 100%;
    height: 100%;
    display: block;
    line-height: 0;

    font-weight: 400;
}

.listas .imagen a img{
    outline: none;
    width: 185px !important;
    height: 278px !important;
    margin-left:  0 !important;
    opacity: 1;
    transition: opacity 100ms;
}

.listas .title{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.listas .title a{
    width: 100%;
    display: block;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.1em;
}

.listas .title span{
    color: rgba(0,0,0,0.6);
    line-height: 1em;
}

.listas .info p.overview{
    word-wrap: break-word;
    white-space: normal;
    color: #4d4d4d;
    font-size: 0.9em;
    line-height: 1.2em;
    margin-top: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    width: 100%;
}

.listas .wrapper{
    display: flex;
}

.listas .folder .info{
    width: 298px;
    height: 278px;
    position: relative;
    box-sizing: border-box;
    padding: 10px 16px 16px 16px;
    overflow: hidden;
}

.btn-info{
    color: #000;
    font-family: "PT Sans";
    background-color: #ffffff;
    border-color: #17a2b8;
}

.listas h2{
    text-align:  left;
    display: flex;
    border-bottom: 1px solid #9e9898;
}

.listas li{

float:  left;

width: 20%;

/* display:  inline; */
}

.btn-secondary{
    width: 100%;
}

#dt_contenedor{
    height: 1500px;
    /* background-color: #3f474ec2; */
}

#dt_contenedor #contenedor .videos{
    /* background-color: #88909873; */
    width: 100%;
    /* max-width: 1200px; */
    padding: 20px 5px;
    height: auto;
    top: 2px;
    margin: 10px auto;
    padding-top: 0;
}

.btn-primary{
    width: 96%;
    background-color: #f7f5f5;
    margin: 5px;
    color: #2a59bf;
    font-weight:  bold;
    text-shadow: 0px 1px 0.1px #b7b7b7;
    font-size: 1.2rem;
}

.videos h2{
    border-left: 5px solid #3dbbc1;
    padding-left: 13px;
    width: 100%;
    margin-left: 15px;
    border-bottom: 0;
    margin-bottom: 0;
    margin-top: 9px;
}

@media screen and (max-width: 1000px) {
    .listas li h2{
        font-size: 1em;
        padding-bottom: 4px;
    }

    .listas{
    display: block;
    width: 10px;
    margin: 0;
    /* background-color: aliceblue; */
    }

    .btn-primary{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 90%;
        margin: 5px;
        background-color: #ffffff;
        border-color: #d2d2d2;
    }

    #dt_contenedor #contenedor .videos{
        height: auto;
        padding: 10px 0;
    }

    .modal-title nav{
        font-size: 0.9em;
    }

    .modal-body a{
    }

    .listas .folder{
        /* margin-left: 12%; */
    }

    .listas .cantidad{
        display: none;
    }

    .listas .info p.overview{
        font-size: 0.8em;
        margin-top: 6px;
    }

    .listas .folder .imagen{
    /* width: 90px; */
    }
}

@media (min-width: 374px) and (max-width: 583px) {
    .listas .folder{
        margin-left: -20px;
    }
}

@media screen and (max-width: 373px) {
    .listas .folder{
        margin-left: -34px;
        width: 312px;
    }
}

