.vjs-subs-caps-button{
    display: block !important;
}

#addDelayButton , #removeDelayButton{
    margin-top: 10.5px;
    width: 2em !important;
}

#removeDelayButton{
    margin-left: 5px;
}

.addDelayButton, .removeDelayButton i{
    font-size: 1.2em;
}

#addDelayButton,#removeDelayButton:hover{
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    #my-video{
        width: 100%;
        height: 400px;
        transition: all 0.5s;
    }
}