body{overflow:hidden;font:normal 12px/20px Arial,Helvetica,sans-serif;background-color:#000;margin:0;height:100%;width:100%}#bgPlayer{width:104%;height:104%;position:absolute;top:-2%;left:-2%;-webkit-filter:blur(6px);-khtml-filter:blur(6px);-moz-filter:blur(6px);-ms-filter:blur(6px);-o-filter:blur(6px);filter:blur(6px);background-repeat:no-repeat;background-size:cover;z-index:1}#bgBackPlayer{width:100%;height:100%;background-color:rgba(0,0,0,0.6);position:absolute;top:0;left:0;z-index:2}.button-success,.button-error,.button-warning,.button-secondary{color:#fff;border-radius:4px;text-shadow:0 1px 1px rgba(0,0,0,0.2)}.button-success{background:#1cb841}.button-error{background:#ca3c3c}.button-warning{background:#df7514}.button-secondary{background:#42b8dd}.button-xsmall{font-size:70%}.button-small{font-size:85%}.button-large{font-size:110%}.button-xlarge{background-color:#242424;font-size:125%;margin:0 0 7px;color:#FFF}.button-xlarge:hover{background-color:#C71414}.Svplayer .CloseButton{cursor:alias;position:absolute;width:146px;height:29px;background-image:url("changeserver.png");background-color:rgba(255,5,5,0);top:0;-webkit-transition:opacity .25s 0 ease-in-out,visibility 0 linear .25s;-moz-transition:opacity .25s 0 ease-in-out,visibility 0 linear .25s;-o-transition:opacity .25s 0 ease-in-out,visibility 0 linear .25s;transition:opacity .25s 0 ease-in-out,visibility 0 linear .25s;visibility:hidden;opacity:0}.Svplayer:hover .CloseButton{-webkit-transition-delay:0;-moz-transition-delay:0;-o-transition-delay:0;transition-delay:0;visibility:visible;opacity:1}

#LoadingVideoDiv {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    color: #fff;
    height: 200px;
    z-index: 2;
    width: 100%;
    text-align: center;
    top: 30%;
    margin: .83em 0;
    position: absolute;
}


<!-- @import url(https://fonts.googleapis.com/css?family=Merriweather:900);
*{margin:0;padding:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}html{height:100%;overflow:hidden}-->
canvas{z-index:1;position:absolute;left:0;top:0;width:100%;height:100%;font-family:'Merriweather',serif}.container{z-index:1;position:absolute;left:0;top:0;width:100%;height:100vh;background:-webkit-radial-gradient(center,ellipse,hsla(0,0%,0%,0) 0%,hsla(0,0%,0%,0) 19%,hsla(0,0%,0%,0.9) 100%);background:radial-gradient(ellipse at center,hsla(0,0%,0%,0) 0%,hsla(0,0%,0%,0) 19%,hsla(0,0%,0%,0.9) 100%);background-color:#EDEAF9;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00000000',endColorstr = '#e6000000',GradientType = 1)}.container div{position:absolute;left:0;top:-20%;width:100%;height:20%;background-color:hsla(0,0%,0%,.09);box-shadow:0 0 10px hsla(0,0%,0%,.2);-webkit-animation:waves 12s linear infinite;animation:waves 12s linear infinite}.container div:nth-child(1){-webkit-animation-delay:0;animation-delay:0}.container div:nth-child(2){-webkit-animation-delay:4s;animation-delay:4s}.container div:nth-child(3){-webkit-animation-delay:8s;animation-delay:8s}@-webkit-keyframes waves{0%{top:-20%}100%{top:100%}}@keyframes waves{0%{top:-20%}100%{top:100%}}h1s{z-index:3;position:absolute;font:bold 20vw Merriweather,serif;left:50%;top:50%;margin-top:-10vh;width:100%;margin-left:-50%;text-align:center;color:transparent;text-shadow:0 0 30px hsla(0,0%,0%,.5);-webkit-animation:flicks .8s linear infinite;animation:flicks .8s linear infinite}h2s{z-index:2;position:absolute;font:bold 3.5vw Merriweather,serif;top:30%;width:100%;text-align:center;color:hsla(0,96%,30%,0.59);text-shadow:0 0 10px hsla(2,100%,26%,0.99)}span0{font-size:7.5vw;color:hsla(0,8%,33%,0.1);text-shadow:0 0 10px hsla(2,100%,26%,0.99)}h3s{z-index:2;position:absolute;font:bold 3vw Merriweather,serif;top:60%;width:100%;text-align:center;color:hsla(0,0%,0%,.5);text-shadow:0 0 40px hsla(0,0%,0%,.8)}@-webkit-keyframes flicks{0%{text-shadow:0 0 30px hsla(0,0%,0%,.5)}33%{color:hsla(0,0%,0%,.4);text-shadow:0 0 10px hsla(0,0%,0%,.4)}66%{color:transparent;text-shadow:0 0 20px hsla(0,0%,0%,.2)}100%{color:hsla(0,0%,0%,.5);text-shadow:0 0 40px hsla(0,0%,0%,.8)}}@keyframes flicks{0%{text-shadow:0 0 30px hsla(0,0%,0%,.5)}33%{color:hsla(0,0%,0%,.4);text-shadow:0 0 10px hsla(0,0%,0%,.4)}66%{color:transparent;text-shadow:0 0 20px hsla(0,0%,0%,.2)}100%{color:hsla(0,0%,0%,.5);text-shadow:0 0 40px hsla(0,0%,0%,.8)}}@-webkit-keyframes spanflicks{0%{text-shadow:0 0 30px hsla(0,0%,0%,.5)}33%{color:hsla(0,0%,0%,.4);text-shadow:0 0 10px hsla(2,95%,15%,.5)}66%{color:transparent;text-shadow:0 0 20px hsla(2,95%,15%,.2)}100%{color:hsla(0,0%,0%,.5);text-shadow:0 0 40px hsla(2,95%,15%,.1)}}@keyframes spanflicks{0%{text-shadow:0 0 30px hsla(0,0%,0%,.5)}33%{color:hsla(0,0%,0%,.4);text-shadow:0 0 10px hsla(2,95%,15%,.5)}66%{color:transparent;text-shadow:0 0 20px hsla(2,95%,15%,.2)}100%{color:hsla(0,0%,0%,.5);text-shadow:0 0 40px hsla(2,95%,15%,.1)}}

/* Seriado OLD */
.bot_sharing { font-family: Verdana, Geneva, sans-serif; font-size: 18px; font-weight: bold; }
.panel{ width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 3; }
.panel_boot{  position:fixed; width:100%; background-color:#000; padding:5px; bottom:0px; }
.prueda{ border-bottom-left-radius:10px; border-bottom-right-radius:10px;  border-top-left-radius:10px; border-top-right-radius:10px; min-height:370px; }
.embed { min-height:100px; height: 100%; }
.irueda{ border-bottom-left-radius:5px; border-bottom-right-radius:5px; border-top-left-radius:5px; border-top-right-radius:5px; padding:2px; }
body,td,th { color: #FFF;}
.fx2{ margin: -33px 0px 0px -28px; overflow: hidden; }
.fx{ position: absolute; z-index: 9999; opacity: 0; filter: alpha(opacity=0); }
.-fx{ position: fixed; width: 300px; height: 220px; top: 30%; z-index: 999999999999999 !important; left: 0; right: 0; margin: 0 auto; background-color: #FFF; }
.embed div{ margin: 0 5px;}
.servidor{ margin: auto;  display: inline-block;  width: 197px; height: 92px; text-indent: -9999px; cursor: pointer; }
.clear{ clear: both; }
body>p{text-align:center}
body>p a{color:#505667}
.menu-temps:before,.menu-temps:after{content:"";display:table}
.menu-temps:after{clear:both}
.menu-temps{zoom:1}
.left{ float: left; margin-top: 4px !important; }
.box{ color: #000; opacity:0.85; -moz-opacity: 0.85; filter: alpha(opacity=85); width: 90%; height: 400px; background-color:#000; padding: 5px; border-radius:5px;}
.box ul{margin:0;padding:0;list-style:none;font-weight:bold;width:370px; margin: 3px 0px; z-index:2;position:relative; display: block; float:left;}
.box ul li{background:#fff;float:left;cursor:pointer;width:25px;height:21px;text-align:center;margin-right:3px;background:url(img/temp_button.png) 0 0 no-repeat;}
.box ul li.active{background:url(img/temp_button.png) 0 -22px no-repeat;}
.box ul li:hover{background:url(img/temp_button.png) 0 -22px no-repeat;color:#F00;}
.box li.filme{background:#fff;float:left;cursor:pointer;width:50px;height:20px;text-align:center;margin-right:3px;}
.box li.filme:hover{background:#fff;float:left;cursor:pointer;width:50px;height:20px;text-align:center;margin-right:3px;}
.box li.filme.active{background:#fff;float:left;cursor:pointer;width:50px;height:20px;text-align:center;margin-right:3px;}
.box .content{margin:0 0 0;background-color:#e8e8e8;text-align: left;border-radius:3px;border:1px solid #ccc;padding:9px;position:relative; height: 350px;}
.box .content>div{display:none;overflow:auto;position:relative;max-height: 330px;}
.box .content>div>p{ float: left; width: 50%; }
a{text-decoration:none;color:#000;font-weight:bold;}
a:hover{text-decoration:none;color:#F00;font-weight:bold;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;}
.titulo-opcao{ color: #F00; font-weight: bold; cursor: pointer; font-size: 16px; display: block; margin-bottom: 5px; cursor: default; }
/* END Seriado */


#showload {
    width: 200px;
    height: 80px;
    background-color: #89cb00;
    border: 2px solid #65b701;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 0px 30px #89cb00;
    -webkit-box-shadow: 0px 0px 30px #89cb00;
    box-shadow: 0px 0px 30px #89cb00;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
    position: absolute;
    z-index: 800;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    /* half of the width  */
    margin-top: -40px;
    /* half of the height */
    text-align: center;
    line-height: 80px;
}

#showload span,a {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 16px;
    color: #000000;
    text-shadow: 1px 1px 0px #bad3ed;
    font-weight: bold;
    text-decoration: none;
}

#showload a:hover {
    color: #3e670b;
}

.close {
    display: block;
    position: absolute;
    padding-left: 180px;
}



/* NEW */
@font-face {
    font-family: 'OpenSans';
    font-weight:bold;
    src: url('fonts/OpenSans.eot') format('eot'),
    url('fonts/OpenSans.woff') format('woff'),
    url('fonts/OpenSans.ttf') format('truetype');
}

body {
    margin:0;
    padding:0;
}
#ErrorWin {
    width:100%;
    height:100%;
    background-color:#111111;
    display:table;
}
#ErrorWinCont {
    width:400px;
    height:170px;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    margin:auto;
    padding-left:10px;
    padding-right:10px;
}
#ErrorWinCont div[role='icon'] {
    min-width:10px;
    width:auto;
    height:auto;
    display:table;
    margin:auto;
}
#ErrorWinCont div[role='texterror'] {
    color:#FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    min-width:20px;
    width:100%;
    height:auto;
    text-align:center;
    margin-top:8px;
}
#ErrorWinCont div[role='options'] {
    color:#878787;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    min-width:20px;
    width:auto;
    height:auto;
    text-align:left;
    margin-top:30px;
    margin-left:20px;
}
#ContPlayer {
    width:100%;
    height:100%;
    background-position:center;
    background-size:cover;
    background-color:#111111;
    display:table;
}
#WinHome {
    width:100%;
    height:100%;
}
#TopWinHome {
    max-width:800px;
    width:100%;
    height:auto;
    background-color:#FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.53);
    -khtml-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.53);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.53);
    margin:auto;
    overflow:hidden;
}
#Bar1TopWinHome {
    width:100%;
    height:auto;
    background-color:#F1F1F1;
    overflow:hidden;
}
#ContBar1TopWinH {
    width:auto;
    height:auto;
    margin-left:10px;
    margin-right:10px;
    background-color:#F1F1F1;
    padding-top:9px;
    padding-bottom:12px;
    overflow:hidden;
}
#ContBar1TopWinH div[role='logo'] {
    width:auto;
    height:auto;
    display:table;
    float:right;
    margin-top:4px;
    margin-right:5px;
}
#ContBar1TopWinH div[role='title'] {
    width:auto;
    height:auto;
    display:table;
    float:left;
    margin-left:5px;
    color:#333333;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
}
#Bar2TopWinHome {
    width:auto;
    height:auto;
    margin-left:5px;
    margin-right:5px;
    padding-bottom:5px;
}
#Bar2TopWinHome div {
    width:auto;
    height:auto;
    display:table;
    padding-left:10px;
    padding-right:10px;
    padding-top:8px;
    padding-bottom:8px;
    background-color:#F1F1F1;
    color:#333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    display:inline-block;
    cursor:pointer;
    margin-right:5px;
    margin-top:5px;
}
#Bar2TopWinHome div:last-child {
    margin-right:0px;
}
#Bar2TopWinHome div:hover {
    background-color:#DDDADA;
}
#MainWinHome {
    max-width:800px;
    width:100%;
    height:auto;
    margin:auto;
    overflow:hidden;
    margin-top:8px;
    position:relative;
}
#ContMainWinH {
    width:auto;
    height:auto;
    overflow:hidden;
    text-align:center;
}
.LabelMainWinH {
    width:49%;
    height:auto;
    display:inline-block;
    background-color:#FFF;
    padding-bottom:15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.53);
    -khtml-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.53);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.53);
}
.LabelMainWinH:last-child {
    margin-left:8px;
}
.LabelMainWinH div[role='titletemp_lbwh'] {
    width:100%;
    height:auto;
    border-bottom:1px solid #DDD;
    padding-top:8px;
    padding-bottom:10px;
    color:#333333;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.LabelMainWinH div[role='episodes'] {
    margin-top:15px;
    width:auto;
    height:auto;
    display:table;
}
.LabelMainWinH div[role='episodes'] div {
    color:#535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align:left;
    margin-left:15px;
    width:auto;
    height:auto;
    display:table;
    margin-top:4px;
    cursor:pointer;
}
.LabelMainWinH div[role='episodes'] div:hover {
    color:#333333;
}
.LabelMainWinH div[role='episodes'] a {
    text-decoration:none;
    color:#535353;
}
.LabelMainWinH div[role='episodes'] a:visited {
    text-decoration: none;
    color: #CF2121;
}
#WinView {
    width:100%;
    height:100%;
    display:none;
}
#TopWinView {
    max-width:800px;
    width:100%;
    height:auto;
    background-color:#FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.53);
    -khtml-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.53);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.53);
    margin:auto;
    overflow:hidden;
}
#Bar1TopWinView {
    width:auto;
    height:auto;
    background-color:#FFF;
    overflow:hidden;
}
#Bar1TopWinView div[role='butback'] {
    width:auto;
    height:25px;
    padding-left:12px;
    padding-right:12px;
    padding-top:13px;
    padding-bottom:12px;
    background-color:#333333;
    display:table;
    cursor:pointer;
    float:left;
}
#Bar1TopWinView div[role='butback']:hover {
    background-color: #242424;
}
#Bar1TopWinView div[role='title'] {
    width:auto;
    height:auto;
    display:table;
    float:left;
    margin-left:10px;
    color:#333333;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-top:10px;
}
#Bar1TopWinView div[role='players'] {
    float:right;
    margin-right:5px;
    margin-top:4px;
    width:auto;
    height:auto;
    display:table;
}
#Bar1TopWinView div[role='players'] div {
    width:auto;
    height:auto;
    display:table;
    padding-left:10px;
    padding-right:10px;
    padding-top:8px;
    padding-bottom:8px;
    background-color:#F1F1F1;
    color:#333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    display:inline-block;
    cursor:pointer;
    margin-left:5px;
    margin-top:5px;
}
#Bar1TopWinView div[role='players'] div:hover, #Bar1TopWinView div[role='players'] div.OptionActive {
    background-color:#DDDADA;
}
#MainWinView {
    max-width:800px;
    width:100%;
    height:auto;
    margin:auto;
    overflow:hidden;
    margin-top:8px;
    position:relative;
    max-height:420px;
    background-color:#111111;
}
.MainLoading {
    width:100%;
    height:auto;
    overflow:hidden;
    padding-bottom:20px;
    padding-top:20px;
    background-color:#FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.53);
    -khtml-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.53);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.53);
    display:none;
    margin-bottom:8px;
}
.MainLoading div[role='loading'] {
    min-width:20px;
    height:auto;
    display:table;
    margin:auto;
}

.UXCircLoaderCont1 {
    width:42px;
}
.UXCircLoader1 {
    background-color:rgba(0, 0, 0, 0.29);
    float:left;
    height:10px;
    margin-left:4px;
    width:10px;
    -moz-animation-name:BounceCircLoader;
    -moz-animation-duration:0.44999999999999996s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:normal;
    -moz-border-radius:8px;
    -webkit-animation-name:BounceCircLoader;
    -webkit-animation-duration:0.44999999999999996s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:normal;
    -webkit-border-radius:8px;
    -ms-animation-name:BounceCircLoader;
    -ms-animation-duration:0.44999999999999996s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:normal;
    -ms-border-radius:8px;
    -o-animation-name:BounceCircLoader;
    -o-animation-duration:0.44999999999999996s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:normal;
    -o-border-radius:8px;
    animation-name:BounceCircLoader;
    animation-duration:0.44999999999999996s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    border-radius:8px;
}
.CircLoaderCont_1 {
    -moz-animation-delay:0.09s;
    -webkit-animation-delay:0.09s;
    -ms-animation-delay:0.09s;
    -o-animation-delay:0.09s;
    animation-delay:0.09s;
}
.CircLoaderCont_2 {
    -moz-animation-delay:0.21000000000000002s;
    -webkit-animation-delay:0.21000000000000002s;
    -ms-animation-delay:0.21000000000000002s;
    -o-animation-delay:0.21000000000000002s;
    animation-delay:0.21000000000000002s;
}
.CircLoaderCont_3 {
    -moz-animation-delay:0.26999999999999996s;
    -webkit-animation-delay:0.26999999999999996s;
    -ms-animation-delay:0.26999999999999996s;
    -o-animation-delay:0.26999999999999996s;
    animation-delay:0.26999999999999996s;
}
.cssSprite1 {
    background-image: url("/sprite1.png");
}
#bgBlackPlayer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(60, 84, 70, 0.8);
}
#player .menuPlayer {
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 0px;
}
#player .menuPlayer li {
    vertical-align: bottom;
}
#player .menuPlayer li.bar {
    width: 100%;
    background-color: #636363;
    height: 81.8%;
    position: absolute;
    bottom: 0px;
}
#player .menuPlayer li.option {
    /* height: 83%; */
    width: 8.2%;
    display: inline-table;
    /* -webkit-transform: skew(-15deg); */
    -khtml-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    /* transform: skew(-15deg); */
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin-top: 2.7%;
}
#player .menuPlayer li.option .iconBig {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: table;
    position: relative;
    /* -webkit-transform: skew(15deg); */
    -khtml-transform: skew(15deg);
    -moz-transform: skew(15deg);
    -ms-transform: skew(15deg);
    -o-transform: skew(15deg);
    /* transform: skew(15deg); */
}
#player .menuPlayer li.option .iconBig div {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    padding-top: 10px;
    font-size: 24px;
}
#player .menuPlayer li.option .iconBig img {
    width: 100%;
}
#player .menuPlayer li.option.selected {
    height: calc(15% + 64px);
    width: 10.1%;
    margin-top: calc(6% - 40px);
    margin-right: -0.40%;
    margin-left: 0.35%;
    background-color: hsl(11, 43%, 55%);
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
    -khtml-box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
    -ms-box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
    -o-box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
    z-index: 2;
}
#player .menuPlayer.minimized li.option.selected {
    margin: 0px;
    position: absolute;
    left: -95px;
}
#player .menuPlayer li.pvidzi { background-color: #3F5E8A; }
#player .menuPlayer li.pvidzi.selected { background-color: #3F5E8A !important; }
#player .menuPlayer li.pvidzi:hover { background-color: #324B6E; }
#player .menuPlayer li.pgdrive { background-color: #E3A604; }
#player .menuPlayer li.pgdrive.selected { background-color: #E3A604 !important; }
#player .menuPlayer li.pgdrive:hover { background-color: #B68503; }
#player .menuPlayer li.pgplus { background-color: #DC473A; }
#player .menuPlayer li.pgplus.selected { background-color: #DC473A !important; }
#player .menuPlayer li.pgplus:hover { background-color: #B0392E; }
#player .menuPlayer li.pthevid { background-color: #5BAA61; }
#player .menuPlayer li.pthevid.selected { background-color: #5BAA61 !important; }
#player .menuPlayer li.pthevid:hover { background-color: #49884E; }
#player .menuPlayer li.pokru { background-color: #F4740B; }
#player .menuPlayer li.pokru.selected { background-color: #F4740B !important; }
#player .menuPlayer li.pokru:hover { background-color: #C35D09; }
#player .menuPlayer li.pvidto { background-color: #414649; }
#player .menuPlayer li.pvidto.selected { background-color: #414649 !important; }
#player .menuPlayer li.pvidto:hover { background-color: #34383A; }
#player .menuPlayer li.popenload { background-color: #5B9DBE; }
#player .menuPlayer li.popenload.selected { background-color: #5B9DBE !important; }
#player .menuPlayer li.popenload:hover { background-color: #497E98; }
#player .menuPlayer li.pvideomega { background-color: #F80000; }
#player .menuPlayer li.pvideomega.selected { background-color: #F80000 !important; }
#player .menuPlayer li.pvideomega:hover { background-color: #C60000; }
#player .menuPlayer li.pflv { background-color: #202832; }
#player .menuPlayer li.pflv.selected { background-color: #202832 !important; }
#player .menuPlayer li.pflv:hover { background-color: #202832; }
#player .bottomPlayer {
    width: 100%;
    padding-bottom: 10%;
    bottom: 40%;
    position: absolute;
    z-index: 3;
}
#player .langSingle {
    position: absolute;
    right: 4%;
    top: 6.8%;
    color: #FFF;
    font-family: 'OpenSansLight';
    font-size: 17px;
    z-index: 3;
}
#player .langSelect {
    position: absolute;
    width: 180px;
    height: 29px;
    right: 4%;
    top: 6.8%;
    border: 1px solid #FFF;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
    z-index: 3;
}
#player .langSelect .allOpt {
    position: absolute;
    z-index: 4;
}
#player .langSelect .langOpt {
    padding-top: 4px;
    padding-bottom: 5px;
    float: left;
    color: #FFF;
    font-family: 'OpenSansBold';
    font-size: 12px;
    width: 90px;
    text-align: center;
}
#player .langSelect.dub .langOpt:first-child {
    color: #666;
}
#player .langSelect:not(.dub) .langOpt:last-child {
    color: #666;
}
#player .langSelect .langSel {
    background-color: #FFF;
    position: absolute;
    z-index: 3;
    left: 2px;
    width: 90px;
    height: 29px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    transition: 0.8s;
    -webkit-transition: 0.3s;
    -khtml-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
#player .langSelect:not(.dub) .langSel {
    left: 92px;
}
#player .centerPlayer {
    width: 100%;
    height: 90px;
    /* top: 9%; */
    bottom: 13%;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    z-index: 3;
}
#player .msgSelPlayer {
    font-family: "OpenSansLight";
    font-size: 30px;
    text-align: center;
    display: table;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    margin-top: 20px;
}
#player .butPlayFilm {
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    cursor: pointer;
    display: none;
}
#player .butPlayFilm:hover {
    opacity: 1;
}
#player .butPlayFilm .iconPlay {
    float: left;
    width: 67px;
    height: 67px;
}
#player .butPlayFilm .iconPlay img {
    width: 100%;
    height: 100%;
}
#player .butPlayFilm .textPlay {
    float: left;
    margin-left: 15px;
    display: table;
    height: 67px;
}
#player .butPlayFilm .textPlay div {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    color: #FFF;
    font-family: 'OpenSansLight';
    font-size: 30px;

}
.flutua {
    position: relative;
    z-index: 3;
}
@-moz-keyframes BounceCircLoader {
    0%{
    }
    50%{
        background-color:rgba(0, 0, 0, 0.66);
    }
    100%{
    }
}
@-webkit-keyframes BounceCircLoader {
    0%{
    }
    50%{
        background-color:rgba(0, 0, 0, 0.66);
    }
    100%{
    }
}
@-ms-keyframes BounceCircLoader {
    0%{
    }
    50%{
        background-color:rgba(0, 0, 0, 0.66);
    }
    100%{
    }
}
@-o-keyframes BounceCircLoader {
    0%{
    }
    50%{
        background-color:rgba(0, 0, 0, 0.66);
    }
    100%{
    }
}
@keyframes BounceCircLoader {
    0%{
    }
    50%{
        background-color:rgba(0, 0, 0, 0.66);
    }
    100%{
    }
}

@media screen and (max-width: 580px) {
    #player .langSingle {
        font-size: 15px;
    }
    #player .butPlayFilm .textPlay div, #player .msgSelPlayer {
        font-size: 20px;
    }
    #player .butPlayFilm .iconPlay {
        width: 50px;
        height: 50px;
    }
    #player .butPlayFilm .textPlay {
        height: 46px;
    }
    #player .centerPlayer {
        bottom: 20%;
        top: 12%;
    }
    #player .menuPlayer li.option {
        width: 13%;
    }
    #player .langSelect {
        width: 160px;
        height: 25px;
    }
    #player .langSelect .langOpt {
        padding-top: 2px;
        padding-bottom: 3px;
        font-size: 12px;
        width: 80px;
    }
    #player .langSelect .langSel {
        width: 80px;
        height: 25px;
    }
    #player .langSelect:not(.dub) .langSel {
        left: 82px;
    }
}
@media screen and (min-width: 580px) {
    #MenuTop {
        float:left;
        margin-left:20px;
        margin-right:0px;
    }
    #SearchTop {
        display:block;
    }
    #SearchMin {
        display:none;
    }
    #FeaturedCont {
        padding-top:0px;
    }
    #FeaturedCont {
        margin-right:-5px;
    }
    #BoxError {
        margin-top:30px;
    }
    #BoxError div[role='title'] {
        font-size:35px;
    }
    #BoxError div[role='subtitle'] {
        font-size:18px;
    }
    #ContBoxError {
        padding-top:40px;
        padding-bottom:50px;
    }
    #Pagination {
        margin:auto;
        float:right;
        margin-top:0px;
    }
    #InfoCurPage {
        float:left;
        margin:auto;
        margin-top:5px;
    }
}
@media screen and (min-width: 850px) {
    #LogoTop {
        margin-left:30px;
    }
    #SearchTop {
        margin-right:30px;
    }
}

@media screen and (max-width: 449px) {
    #ErrorWinCont {
        width:auto;
    }
    #ErrorWinCont div[role='options'] {
        margin-left:0px;
    }
    #ErrorWinCont div[role='icon'] img {
        width:80px !important;
        height:58 !important;
    }
    #ErrorWinCont div[role='texterror'] {
        font-size:14px;
    }
    #ErrorWinCont div[role='options'] {
        margin-top:15px;
    }
}
@media screen and (max-width: 599px) {
    .LabelMainWinH {
        width:100%;
    }
    .LabelMainWinH:last-child {
        margin-top:8px;
        margin-left:0px;
    }
    #Bar1TopWinView div[role='players'] {
        float:none;
        width:100%;
        padding-bottom:5px;
        padding-top:5px;
        text-align:center;
        border-top:1px solid #DDD;
    }
}