/** watch */
body{
    background: #f1f0f0;
    color: #000;
    /* line-height: 1; */
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1em;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

#dt_contenedor {
    width: 100%;
    float: left;
}

#contenedor {
    max-width: 1100px;
    margin: 2px auto 0;
}

#single {
    width: 100%;
    float: left;
    margin: 9px 0 50px;
    padding: 0;
    position: relative;
    background: #ffffff;
}

#single .content{
    background: #171d22;
    border-right: solid 2px #171d22;
    width: calc(100% - 340px);
    float: left;
    padding: 0;
    position: relative;
}
/** end */

.video a{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "PT Sans",Roboto, Arial, sans-serif;
    color: #000;
}

.video{
    margin-top: 5px;
    width: 100%;
    height: 140px;
    padding: 5px;
    position:  relative;
    list-style: none;
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background-color: #fff;
    display: inline-block;
    overflow:  hidden;
}

.videos .categ_title{
    text-align: center;
    font-size: 1.2em;
    /* border-bottom: 2px solid #292929; */
    padding-bottom: 5px;
    font-family: Roboto, Arial, sans-serif;
}

.video .imagen{
    display:  inline;
    /* max-width: 190px; */
    margin-top: 3px;
}

.video .title{
    padding: 10px;
    /* width: calc(54% - 50px); */
    /* text-overflow: ellipsis; */
    /* overflow: hidden; */
    position:  absolute;
    top: 8%;
    display:  inline;
    /* text-align:  center; */
    /* white-space: nowrap; */
    /* white-space: initial; */
}

.video li{
    border-color: rgba(226, 20, 20, 0.12);
    width: 100%;
    font-family: "PT Sans",Roboto, Arial, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    /* border-bottom: solid 1px; */
}

ul.video li .imagen img{
    /* height: 120px; */
    /* margin-top: -10px; */
    /* max-width: 100% !important; */
}

.videos{
    /* border: 1px solid #7d7d7d; */
    padding: 5px;
    box-shadow: 0 0 4px black;
}

ul.video li .date{
    color: rgba(0, 0, 0, 0.78);
    /* float: right; */
    right: -85%;
    width: 100%;
    font-size: 12px;
    padding-top: 5px;
    font-weight: 300;
    /* padding-left: 25px; */
    /* width: calc(54% - 50px); */
    /* text-overflow: ellipsis; */
    /* overflow: hidden; */
    position: absolute;
    top: 17%;
    display: inline;
}

.dcategorias{
    padding: 7px;
    background: #1e262d;
    margin-bottom: 15px;
    box-shadow: -1px 8px 20px 1px #00000094;
}

#categs{
    text-align:center;
    width:450px;
    margin-left:auto;
    margin-right:auto;
}

#categs li{
    display: inline;
    margin-right: 15px;
    background-color: #90909024;
    padding: 2px 5px;
    border-radius: 5px;
}

#categs li a{
    color: #ffffff;
}

.info{
    /* position:  absolute; */
    /* border-bottom: 2px solid #292929; */
    width: 97%;
    margin: auto;
    /* top: 0; */
    /* right: 45%; */
}

.overview{
    padding: 10px;
    padding-left: 23px;
    width: calc(69% - 50px);
    /* text-overflow: ellipsis; */
    /* overflow: hidden; */
    position: absolute;
    top: 36%;
    display: inline;
    word-wrap: break-word;
}

.overview .resum{
    white-space: normal;
    font-size: 0.9em;
    line-height: 1.2em;
}

::-webkit-scrollbar {
    display: none;
}


.season .btn{
    text-decoration: none;
    text-align: left;
    border-bottom: 2px solid;
}

.season .btn p{
    float: right;
}

.categoria .large{
    width: 100%;
    position: relative;
    height: 188px;
    z-index: 1;
}


.categoria .large:before{
    filter: opacity(100) grayscale(100%) contrast(130%);
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    will-change: opacity;
    transition: filter 1s;
}

.categoria .large .custom-bg{
    background-image: radial-gradient(circle at 20% 50%, rgba(65.86%, 18.27%, 45.96%, 0.88) 0%, rgba(68.92%, 48.92%, 73.86%, 0.48) 100%);
}

.categoria .large p.resumen{
    font-size: 0.9em;
    color: #fff;
    overflow: hidden;
    font-family: "PT Sans",Roboto, Arial, sans-serif;
    height: 160px;
}

@media screen and (min-width: 482px) and (max-width: 1022px) {
    .video{
        width: 100%;
    }
}


@media screen and (max-width: 482px) {
    .video {
        width: 100%;
        margin: 5px auto;
    }

    .info .resumen{
}

    .video .title{
        width: calc(100% - 10px);
        text-align:  left;
        font-size: 0.19em;
        font-weight: 100;
        text-overflow: ellipsis;
        overflow:  hidden;
        top: 61%;
        padding-left: 1px;
        white-space:  nowrap;
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.68));
        background-image: linear-gradient(rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.68));
    }

    .video .title a{
        color: #e0e0e0;
    }

    .video .title span{
        color: #a2a2a2cc !important;
    }

    .video .imagen{
        max-width: 200px;
    }

    .video .imagen img{
        width: 100% !important;
        margin-left: 0 !important;
    }
    
    .video .overview{
        display: none;
    }

    .video .date{
        display: none !important;
    }
}